@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;500&display=swap");

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #2d2d2d;
}

.credits {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 80%;
	margin: 10% auto;
}

.our-team {
	text-align: center;
	overflow: hidden;
	position: relative;
	padding: 30px 0px 40px;
	margin: 0px 20px;
	min-width: fit-content;
}

.our-team .pic {
	display: inline-block;
	width: 256px;
	margin-bottom: 0;
	position: relative;
}

.our-team .pic img {
	width: 80%;
	height: auto;
}